@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");

:root {
	--font-family-titre: "Barriecito";
	--color-button: rgba(255, 30, 240, 0.61);
	--effect-button: rgba(64, 120, 241, 0.32);
	--font-couleur-profils: rgba(130, 184, 250, 1);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #5c2360;
}
/* Navigation */
nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/* Navigation Logo */

a {
	max-width: 10%;
	max-height: 10%;
}

nav img {
	height: 50%;
	width: 70%;
	cursor: pointer;
	-webkit-filter: grayscale(0) blur(0px);
	filter: grayscale(0) blur(0px);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

nav img:hover {
	transform: translateZ(50px);
	width: 80%; /* on affiche l'image au carré */
	height: 70%;
	border-radius: 50%; /* on arrondit l'image */
	-webkit-transform: rotate(360deg); /* rotation de l'image */
	transform: rotate(360deg);
}

/* Navigation Titre */

nav h1 {
	margin-top: 3%;
	font-size: 7ch;
	letter-spacing: 15px;
	font-family: var(--font-family-titre);
	text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px
		#f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
	color: #fccaff;
	text-align: center;
}

/* Navigation Button */

.container-button-nav {
	margin: 5% 30px auto;
	border-radius: 20px;
	width: 20em;
}

/* Boutton bloc */

.boutton-navigation {
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.6s;
	background-color: #f781f7;
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 20px 0px 20px 0px;
	word-spacing: 2px;
	letter-spacing: 2px;
}

.boutton-navigation:hover {
	transform: translateX(50px);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
}

/* Text Boutton */

.boutton-navigation span {
	font-family: var(--font-family-titre);
	font-size: 1.2em;
	margin: 0 auto;
	color: white;
}

/* Main  */

main {
	width: 100%;
	height: 0 auto;
	display: flex;
	justify-content: center;
}

/* Container profils GRID */

.container-profils {
	width: 80vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

/* Profils GRID  */

/* Profil 1 */

.item-a {
	border-radius: 20px;
	grid-area: 1 / 1 / 3 / 1;
	background-color: var(--font-couleur-profils);
	height: 40vh;
	border: solid 6px var(--effect-button);
}

.photo1 {
	max-width: 100%;
	padding: 10px;
	border-radius: 20px;
}

.boite1 {
	display: flex;
	align-items: center;
	gap: 5%;
}

.text-profil1 {
	margin-left: 15px;
	word-spacing: 20px;
}

.button-1-boisson {
	height: 35px;
	width: 62%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-1-bar {
	height: 35px;
	width: 72%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-1-tapas {
	height: 35px;
	width: 67%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

/* Animation profil 1 */
.item-a {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in;
	transition: .4s ease-in;
}

.item-a:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Profil 2 */
.item-b {
	border-radius: 20px;
	grid-area: 3 / 1 / 5 / 2;
	background-color: var(--font-couleur-profils);
	height: 40vh;
	border: solid 6px var(--effect-button);
}

.photo2 {
	max-width: 100%;
	padding: 10px;
	border-radius: 20px;
}

.boite2 {
	display: flex;
	align-items: center;
	gap: 5%;
}

/* Animation profil 2*/

.item-b {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in;
	transition: .4s ease-in;
}

.item-b:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Profil 3 */

.item-c {
	border-radius: 20px;
	grid-area: 5 / 1 / 6 / 3;
	background-color: var(--font-couleur-profils);
	border: solid 6px var(--effect-button);
}

.containerimage3 {
	width: 50%;
	height: 100%;
	position: fixed;
}

.photo3 {
	height: 100%;
	object-fit: cover;
	object-position: 10%;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
}

.boite3 {
	display: flex;
	margin-top: 5%;
	align-items: center;
	margin-left: 50%;
	gap: 5%;
}

.text-profil3 {
	word-spacing: 1vw;
}

.button-3-boisson {
	height: 35px;
	width: 60%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-3-bar {
	height: 35px;
	width: 70%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-3-tapas {
	height: 35px;
	width: 65%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

/* Animation profil 3 */

.item-c {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in;
	transition: .4s ease-in;
	border: solid 6px var(--effect-button);
}

.item-c:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Profil 4 */

.item-d {
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	grid-area: 5 / 3 / 6 / 6;
	background-color: var(--font-couleur-profils);
	border: solid 6px var(--effect-button);
}

.containerimage4 {
	max-width: 50%;
	height: 100%;
	position: fixed;
}

.photo4 {
	border-radius: 40px;
	width: 130%;
	object-fit: cover;
	max-height: 100%;
	padding: 10px;
}

.boite4 {
	display: flex;
	margin-top: 2.5%;
	align-items: center;
	margin-left: 60%;
	gap: 5%;
}

.text-profil4 {
	word-spacing: 50px;
	margin-left: 30px;
	font-size: 16px;
}

.button-4-boisson {
	height: 35px;
	width: 62%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-4-bar {
	height: 35px;
	width: 69%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-4-tapas {
	height: 35px;
	width: 65%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

/* Animation profil 4 */

.item-d {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in;
	transition: .4s ease-in;
}

.item-d:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Profil 5 */

.item-e {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	grid-area: 1 / 2 / 2 / 4;
	background-color: var(--font-couleur-profils);
	border: solid 6px var(--effect-button);
}

.containerimage5 {
	width: 50%;
	height: 100%;
	position: fixed;
}

.photo5 {
	max-width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 30px;
}

.boite5 {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	margin-top: 5px;
	margin-left: 45%;
	gap: 10%;
}

.text-profil5 {
	margin-left: 0;
}

.button-5-bar {
	height: 35px;
	width: 72%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-5-boisson {
	height: 35px;
	width: 63%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-5-tapas {
	height: 35px;
	width: 68%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

/* Animation profil 5 */

.item-e {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in;
	transition: .4s ease-in;
}

.item-e:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Profil 6 */

.item-f {
	border-radius: 20px;
	grid-area: 1 / 4 / 5 / 6;
	background-color: var(--font-couleur-profils);
	border: solid 6px var(--effect-button);
}

.photo6 {
	height: 100%;
	padding: 10px;
	border-radius: 30px;
	width: 100%;
	object-fit: cover;
	object-position: 50% 4%;
}

.images6 {
	height: 50vh;
}

.text-profil6 {
	margin-left: 3%;
	font-size: 1.3em;
	align-items: center;
}

.boite6 {
	display: flex;
	align-items: center;
	gap: 5%;
}

.button-6-boisson {
	height: 35px;
	width: 74%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-6-bar {
	height: 35px;
	width: 80%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-6-tapas {
	height: 35px;
	width: 77%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

/* Animation profil 6 */

.item-f {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in;
	transition: .4s ease-in;
}

.item-f:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Profil 7 */

.item-g {
	border-radius: 20px;
	grid-area: 2 / 2 / 5 / 4;
	background-color: var(--font-couleur-profils);
	border: solid 6px var(--effect-button);
}

.photo7 {
	width: 100%;
	height: 40vh;
	padding: 10px;
	border-radius: 30px;
}

.text-profil7 {
	margin-left: 20px;
	margin-top: 1em;
	word-spacing: 50px;
}

.boite7 {
	display: flex;
	align-items: center;
	gap: 5%;
}

.button-7-boisson {
	height: 35px;
	width: 72%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-7-bar {
	height: 35px;
	width: 77%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

.button-7-tapas {
	height: 35px;
	width: 75%;
	border-radius: 20px;
	border: none;
	border-bottom: 1em solid var(--color-button);
}

/* Animation profil 7 */

.item-g {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in;
	transition: .4s ease-in;
}

.item-g:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Footer */

footer {
	display: flex;
	justify-content: end;
	height: 10%;
	padding: 10px;
}

.buttonBar {
	margin: 10% 120px auto;
	margin-bottom: 20px;
	width: 200px;
	height: 50px;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.6s ease 0s;
	font-size: medium;
	height: 50px;
	font-family: var(--font-family-titre);
	border: none;
	border-radius: 20px 0px 20px 0px;
	color: rgb(255, 255, 255);
	word-spacing: 2px;
	letter-spacing: 2px;
	background-color: #f781f7;
}

.buttonBar:hover {
	transform: translateX(50px);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 500px) {
	/* Barre de navigation */
	nav {
		display: flex;
		justify-items: center;
		flex-direction: column;
	}
	nav a {
		align-items: center;
		max-width: 100%;
	}
	nav img {
		width: 60%;
		height: 40%;
		margin: 0 20%;
	}
	nav h1 {
		font-size: 30px;
		letter-spacing: 10px;
	}
	/* boutton nav */
	.container-button-nav {
		display: flex;
		justify-content: center;
		margin-left: 13%;
	}
	.boutton-navigation:hover {
		transform: translateY(10px);
		box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
	}

	/* main  */

	main {
		height: 100%;
	}

	/* Grid Profils */
	.container-profils {
		display: flex;
		flex-direction: column;
		margin-top: 10%;
		height: 100%;
	}
	/* profil 1  */
	.item-a {
		height: 100%;
	}
	.text-profil1 {
		font-size: 20px;
	}
	/* profil 2 */
	.item-b {
		height: 100%;
	}
	/* profil 3 */

	.item-c {
		display: flex;
		flex-direction: column;
	}
	.containerimage3 {
		position: relative;
	}
	.photo3 {
		width: 200%;
		max-height: 100%;
	}
	.boite3 {
		display: flex;
		margin: 0;
		align-items: center;
		gap: 5%;
	}

	.text-profil3 {
		margin: 15px;
		font-size: 20px;
		word-spacing: 1px;
	}

	.button-3-boisson {
		height: 35px;
		width: 62%;
		border-radius: 20px;
	}
	.button-3-bar {
		height: 35px;
		width: 70%;
		border-radius: 20px;
	}
	.button-3-tapas {
		height: 35px;
		width: 66%;
		border-radius: 20px;
	}
	/* profil 4 */

	.item-d {
		display: flex;
		flex-direction: column;
	}
	.containerimage4 {
		position: relative;
	}
	.photo4 {
		width: 200%;
		padding: 10px;
		border-radius: 20px;
	}
	.boite4 {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 0;
		gap: 5%;
	}

	.text-profil4 {
		margin: 15px;
		font-size: 20px;
	}

	.button-4-boisson {
		height: 35px;
		width: 62%;
		border-radius: 20px;
	}
	.button-4-bar {
		height: 35px;
		width: 70%;
		border-radius: 20px;
	}
	.button-4-tapas {
		height: 35px;
		width: 66%;
		border-radius: 20px;
	}
	/* profil 5 */

	.item-e {
		display: flex;
		flex-direction: column;
	}

	.containerimage5 {
		position: relative;
	}
	.photo5 {
		max-width: 200%;
		padding: 10px;
		border-radius: 20px;
	}
	.boite5 {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 0;
		gap: 5%;
	}

	.text-profil5 {
		margin: 15px;
		font-size: 20px;
	}

	.button-5-boisson {
		width: 62%;
		border-radius: 20px;
	}
	.button-5-bar {
		width: 70%;
		border-radius: 20px;
	}
	.button-5-tapas {
		width: 66%;
		border-radius: 20px;
	}

	/* profil 6 */
	.item-f {
		display: flex;
		flex-direction: column;
	}
	.photo6 {
		max-width: 100%;
		height: 60%;
		padding: 10px;
		border-radius: 20px;
	}
	.text-profil6 {
		margin: 16px;
		font-size: 20px;
	}

	.button-6-boisson {
		width: 62%;
		border-radius: 20px;
	}
	.button-6-bar {
		width: 70%;
		border-radius: 20px;
	}
	.button-6-tapas {
		width: 66%;
		border-radius: 20px;
	}

	/* profil 7 */

	.item-g {
		display: flex;
		flex-direction: column;
	}
	.photo7 {
		max-width: 100%;
		height: 70%;
	}

	.text-profil7 {
		margin: 16px;
		font-size: 20px;
	}

	.button-7-boisson {
		width: 62%;
		border-radius: 20px;
	}
	.button-7-bar {
		width: 70%;
		border-radius: 20px;
	}
	.button-7-tapas {
		width: 66%;
		border-radius: 20px;
	}
}
