@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  30% {
    left: -100%;
  }

  40% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  60% {
    left: -200%;
  }

  70% {
    left: -300%;
  }

  80% {
    left: -300%;
  }

  90% {
    left: -400%;
  }

  100% {
    left: -400%;
  }
}

#slider {
  overflow: hidden;
}

#slider figure img {
  width: 100%;
  float: left;
  object-fit: cover;
}

#slider figure {
  display: flex;
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 30s slidy infinite;
  height: 100vh;

}