/* Header CSS */

header {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Title */

#title {
  position: absolute;
  width: 100%;
  top: 40%;
  /* filter: blur(5px); */
  background: -webkit-linear-gradient(40deg,
      #e66df6,
      #a021cd,
      #1e7ff1,
      #2917ef);
}

H1 {
  /* position: absolute; */
  margin: 1rem;
  text-align: center;
  filter: drop-shadow(16px 16px 20px #e66df6);
  font-family: "Barriecito";
  font-size: 7rem;
  color: white;
}

/* Button of header */

#header_buttons {
  position: absolute;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
  bottom: 5vh;
  left: 2rem;
  height: 5rem;
}

#scroll_button {
  background: -webkit-linear-gradient(40deg,
      #e66df6,
      #a021cd,
      #1e7ff1,
      #2917ef);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow_color {
  background-color: white;
  background-clip: text;
}

#scroll_button img {
  height: 10rem;
  width: 10rem;
}

#pegi_button {
  border: none;
  padding: 0;
}

#pegi_button img {
  height: 3rem;
  width: 3rem;
}