nav h1 {
  text-align: center;
  line-height: 50px;
}

img {
  height: 50px;
}
div img {
  height: 50px;
}

form input {
  display: inline-block;
  margin: auto;
  padding-right: 15px;
  margin: auto;

  text-align: center;
  align-items: 50px;
}

main form {
  text-align: center;
}

div p {
  text-align: center;
}

div img {
  justify-content: right;
  align-items: right;
}
