@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

:root {
   --font-family-titre: "Barriecito";
   --color-button: rgba(255, 30, 240, 0.61);
   --effect-button: rgba(64, 120, 241, 0.32);
   --font-couleur-profils: rgba(130, 184, 250, 1);
   
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Navigation Logo */

nav img {
  height: 150px;
  width: 150px;
}

/* Navigation Titre */

nav h1 {
  margin-top: 3%;
  font-size: 7ch;
  letter-spacing: 15px;
  font-family: var(--font-family-titre);
}

/* Navigation Button */

.container-button-nav {
  margin: 8ch 10ch 0 0;
}

/* Boutton bloc */

.boutton-navigation {
  height: 60px;
  width: 250px;
  border-radius: 20px;
  background-color: var(--color-button);
  box-shadow: 0 0 1.5em  2px rgb(from rgb(55, 8, 156) r g b);
  border: solid black 0px;
}

/* Text Boutton */

button p {
  font-family: var(--font-family-titre);
  font-size: 1.5em;
  margin: 0 auto;
}

/* Main  */

main {
  width: 100%;
  height: 0 auto;
  display: flex;
  justify-content: center;
}

/* Container profils GRID */

.container-profils {
  width: 80vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: solid rgb(255, 255, 255) 2px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

/* Profils GRID  */

/* Profil 1 */

.item-a {
  border-radius: 20px;
  grid-area: 1 / 1 / 3 / 1;
  background-color: var(--font-couleur-profils);
}

.photo1 {
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.text-profil1 {
  margin-left: 15px;
  word-spacing: 20px;
}

.button-1-boisson {
  height: 20px;
  width: 62%;
  border-radius: 20px;
}

.button-1-bar {
  height: 20px;
  width: 72%;
  border-radius: 20px;
}

.button-1-tapas {
  height: 20px;
  width: 67%;
  border-radius: 20px;
}

/* Animation profil 1 */
.item-a {
  -webkit-transform: scale( 1 );
  transform: scale(1);
  -webkit-transition: .3s ease-in;
  transition: .4s ease-in;
}

 .item-a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Profil 2 */
.item-b {
  border-radius: 20px;
  grid-area:  3 / 1 / 5 / 2;
  background-color: var(--font-couleur-profils);
}

/* Animation profil 2*/

.item-b {
  -webkit-transform: scale( 1 );
  transform: scale(1);
  -webkit-transition: .3s ease-in;
  transition: .4s ease-in;
}

 .item-b:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Profil 3 */

.item-c {
  display:flex;
  border-radius: 20px;
  grid-area: 5 / 1 / 6 / 3;
  background-color: var(--font-couleur-profils);
}

.containerimage3 {
  width: 50%;
}

.photo3 {
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

.text-profil3 {
  margin-inline: 10px;
  margin-top: 35px;
  word-spacing: 1vw;
}

.button-3-boisson {
  height: 1rem;
  width: 11.3rem;
  border-radius: 20px;
}

.button-3-bar {
  height: 1rem;
  width: 13rem;
  border-radius: 20px;
}

.button-3-tapas {
  height: 1rem;
  width: 12rem;
  border-radius: 20px;
}

/* Animation profil 3 */

.item-c {
  -webkit-transform: scale( 1 );
  transform: scale(1);
  -webkit-transition: .3s ease-in;
  transition: .4s ease-in;
}

 .item-c:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Profil 4 */

.item-d {
  display: flex;
  border-radius: 30px;
  grid-area: 5 / 3 / 6 / 6;
  background-color: var(--font-couleur-profils);
}

.containerimage4 {
  max-width: 60%;
  height: 220px;
}

.photo4 {
  border-radius: 40px;
  width: 100%;
  max-height: 100%;
  padding: 10px;
}

.text-profil4 {
  margin-top: 35px;
  word-spacing: 50px;
  margin-left: 30px;
  font-size: 16px;
}

.button-4-boisson {
  height: 1rem;
  width: 20.5rem;
  border-radius: 20px;
}

.button-4-bar {
  height: 1rem;
  width: 22rem;
  border-radius: 20px;
}

.button-4-tapas {
  height: 1rem;
  width: 21rem;
  border-radius: 20px;
}

/* Animation profil 4 */

.item-d {
  -webkit-transform: scale( 1 );
  transform: scale(1);
  -webkit-transition: .3s ease-in;
  transition: .4s ease-in;
}

 .item-d:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Profil 5 */

.item-e {
  display: flex;
  border-radius: 20px;
  grid-area: 1 / 2 /  2 / 4;
  background-color: var(--font-couleur-profils);
}

.containerimage5 {
  width: 40%;
}

.photo5 {
  max-width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 30px;
}

.text-profil5 {
  margin-top: 35px;
  word-spacing: 50px;
  margin-left: 10px;
}

.button-5-bar {
  height: 1rem;
  width: 16rem;
  border-radius: 20px;
}

.button-5-boisson{
  height: 1rem;
  width: 14.3rem;
  border-radius: 20px;
}

.button-5-tapas {
  height: 1rem;
  width: 15rem;
  border-radius: 20px;
}

/* Animation profil 5 */

.item-e {
  -webkit-transform: scale( 1 );
  transform: scale(1);
  -webkit-transition: .3s ease-in;
  transition: .4s ease-in;
}

 .item-e:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Profil 6 */

.item-f {
  border-radius: 20px;
  grid-area:  1 / 4 / 5 / 6;
  background-color: var(--font-couleur-profils);
}

.photo6 { 
  height: 100%;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 4%;
}

.images6 {
  height: 50vh;
}

.text-profil6 {
  margin-left: 30px;
  margin-top: 2rem;
  word-spacing: 40px;
  font-size: 1.3em;
}

.button-6-boisson {
  height: 25px;
  width: 74%;
  border-radius: 20px;
}

.button-6-bar {
  height: 25px;
  width: 80%;
  border-radius: 20px;
}

.button-6-tapas {
  height: 25px;
  width: 77%;
  border-radius: 20px;
}

/* Animation profil 6 */

.item-f {
  -webkit-transform: scale( 0.8 );
  transform: scale(0.8);
  -webkit-transition: .3s ease-in;
  transition: .4s ease-in;
}

 .item-f:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/* Profil 7 */

.item-g {
  border-radius: 20px;
  grid-area: 2 / 2 / 5 / 4;
  background-color: var(--font-couleur-profils);
}

.photo7 {
  width: 100%;
  height: 40vh;
  padding: 10px;
  border-radius: 30px;
}

.text-profil7 {
  margin-left: 20px;
  word-spacing: 50px;
}

.button-7-boisson {
  height: 20px;
  width: 72%;
  border-radius: 20px;
}

.button-7-bar {
  height: 20px;
  width: 77%;
  border-radius: 20px;
}

.button-7-tapas {
  height: 20px;
  width: 75%;
  border-radius: 20px;
}

/* Animation profil 7 */

.item-g {
  -webkit-transform: scale( 1 );
  transform: scale(1);
  -webkit-transition: .3s ease-in;
  transition: .4s ease-in;
}

 .item-g:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}